    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: antiquewhite;
      text-align: center;
    }

    h1 {
      color: burlywood;
      margin-top: 2rem;
    }

    .form-container {
      margin: 2rem auto;
      padding: 1.5rem;
      max-width: 500px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    form {
      display: flex;
      flex-direction: column;
    }

    form label {
      text-align: left;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    form input,
    form textarea {
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }

    form textarea {
      resize: vertical;
      height: 100px;
    }

    form button {
      padding: 0.75rem;
      border: none;
      background-color: burlywood;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 47%;
      margin-left: 8rem;
    }

    form button:hover {
      background-color: gray;
    }

    .social-media {
      margin-top: 2rem;
    }

    .social-media img {
      width: 40px;
      height: 40px;
      margin: 0 10px;
      cursor: pointer;
      transition: transform 0.3s;
    }

    .social-media img:hover {
      transform: scale(1.2);
    }

    footer {
      text-align: center;
      padding: 1rem;
      background-color: burlywood;
      color: white;
      margin-top: 2rem;
    }